#tabla {
	border-collapse: collapse;
	outline: 1px solid black;
}

.columna {
	width: 10px;
	height: 10px;
	border: 1px solid white;
}

.colores {
	width: 10px;
	height: 10px;
	border: 1px solid black;
	cursor: pointer;
}

#rgb {
	cursor: pointer;
}
