body {
	display: flex;
}

#tabla {
	border-collapse: collapse;
	outline: 5px solid darkgrey;
	cursor: crosshair;
}

.columna {
	width: 10px;
	height: 10px;
	border: 1px solid white;
}

.colores {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	cursor: pointer;
}

#rgb {
	cursor: pointer;
}

#pizarra {
	margin-top: 40px;
}

button {
	cursor: pointer;
	width: 200px;
	height: 30px;
}

.color {
	margin-top: 40px;
	border: 5px solid darkgrey;
}

.color-elemento {
	margin: 20px;
	justify-content: center;
}
