.error-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 70vh;
	color: white;
	text-align: center;
}

.error-container button {
	margin-top: 20px;
	color: yellow;
}
