nav {
	display: flex;
	gap: 30px;
	padding: 15px 0;
}

.menu-elemento {
	color: #666;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.1rem;
	transition: color 0.3s;
}

.menu-elemento:hover {
	color: #007bff;
}

.menu-elemento.active {
	color: #007bff;
	font-weight: 700;
}
