body {
	margin: 0;
	height: 100vh;
}

#fondoVideo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}

#fotoPeli {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}

#contenedor {
	display: flex;
	flex-direction: row;
}

.mensaje {
	color: yellow;
}

aside {
	display: flex;
	align-items: center;
	width: 250px;
	height: 100vh;
	background-color: rgba(102, 100, 100, 0.5);
	color: white;
	padding: 20px;
	box-sizing: border-box;
}

.pelicula {
	cursor: pointer;
	padding: 10px 0;
	padding-left: 10px;
}

.pelicula:hover {
	background-color: rgba(0, 0, 0, 0.473);
}

#importante {
	border: 1px solid yellow;
	color: yellow;
	z-index: 1000;
	height: 170px;
	width: 500px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

#contenedorInformacion {
	width: 700px;
	height: 500px;
}

#informacion {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	background-color: rgba(102, 100, 100, 0.5);
	color: white;
	box-sizing: border-box;
	width: 700px;
	height: 500px;
	margin-left: 400px;
	margin-top: 230px;
}

.infoPeli {
	margin: 20px 0;
	padding: 10px;
}

.infoPeli h2 {
	font-size: 2.5em;
	margin-bottom: 30px;
}

.datosPeli {
	font-size: 1.2em;
	line-height: 1.8;
	display: block;
	margin-top: 10px;
}

.datosPeli strong {
	font-size: 1.2em;
	padding-right: 5px;
}

.ocultar {
	display: none;
}
