body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

#rompecabezas {
	display: grid;
	grid-template-columns: repeat(3, 225px);
	grid-template-rows: repeat(3, 125px);
	margin-top: 20px;
	gap: 10px;
	border: 1px solid black;
	padding: 10px;
}

#rompecabezas img {
	width: 225px;
	height: 125px;
}

.pieza {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 225px;
	height: 125px;
}

#soltables {
	display: grid;
	grid-template-columns: repeat(3, 225px);
	grid-template-rows: repeat(3, 125px);
	gap: 2px;
	border: 1px solid black;
}

#soltables img {
	width: 225px;
	height: 125px;
}

.soltable {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 225px;
	height: 125px;
}

img {
	cursor: pointer;
	object-fit: cover;
}

button {
	padding: 5px 10px;
	border: 1px solid black;
	cursor: pointer;
}

#ganar {
}
