body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

#rompecabezas {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 120px);
	margin-top: 10px;
	gap: 5px;
	border: 1px solid black;
	padding: 10px;
}

#rompecabezas img {
	width: 200px;
	height: 120px;
}

.pieza {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 120px;
}

#soltables {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 120px);
	gap: 2px;
	border: 1px solid black;
}

.soltable {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 120px;
}

#soltables img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

img {
	cursor: pointer;
	object-fit: cover;
}

button {
	padding: 5px 10px;
	border: 1px solid black;
	cursor: pointer;
}

.botones {
	padding: 10px;
}

#ganar {
}
