span {
	color: blue;
}

.error {
	border: 1px solid red;
	border-radius: 20px;
	background-color: rgba(255, 00, 00, 0.2);
}

.errores {
	color: red;
	padding-left: 10px;
}

input {
	border-radius: 10px;
}
