.principal-contenedor {
	display: flex;
	gap: 20px;
	margin-top: 20px;
}

.seccion-listado {
	flex: 2;
	border: 2px solid #8a2be2;
	padding: 20px;
}

.seccion-detalles {
	flex: 1;
	border: 2px solid #ffa500;
	padding: 20px;
}

form div {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	width: 100%;
	padding: 8px;
}

button {
	padding: 10px 20px;
	cursor: pointer;
}
