.producto-item {
	display: flex;
	align-items: center;
	background: #ffffff;
	border: 2px solid #333333;
	margin-bottom: 12px;
	padding: 15px;
	border-radius: 8px;
}

.contenedor-foto {
	flex-shrink: 0;
	margin-right: 20px;
	width: 110px;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: black 1px solid;
}

.foto-producto {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.info-producto h4 {
	margin: 0 0 5px 0;
	font-size: 1.25rem;
}

.acciones-producto {
	margin-top: 10px;
	display: flex;
	gap: 10px;
}
.btn-borrar {
	background-color: #ff4d4d;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}
.btn-editar {
	background-color: #4d94ff;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}
