.producto-item {
	display: flex;
	align-items: center;
	background: #ffffff;
	border: 2px solid #333333;
	margin-bottom: 12px;
	padding: 15px;
	border-radius: 8px;
}

.contenedor-foto {
	flex-shrink: 0;
	margin-right: 20px;
	width: 110px;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.foto-producto {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.info-producto h4 {
	margin: 0 0 5px 0;
	font-size: 1.25rem;
}
