.producto-item {
	display: flex;
	align-items: center;
	background: #ffffff;
	border: 2px solid #333333;
	margin-bottom: 12px;
	padding: 15px;
	border-radius: 8px;
	position: relative;
}

.contenedor-foto {
	flex-shrink: 0;
	margin-right: 20px;
	width: 110px;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: black 1px solid;
}

.foto-producto {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.info-producto {
	flex-grow: 1;
}

.info-producto h4 {
	margin: 0 0 5px 0;
	font-size: 1.25rem;
}

.acciones-producto {
	margin-top: 10px;
	display: flex;
	gap: 10px;
}

.btn-borrar {
	background-color: #ff4d4d;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}

.btn-editar {
	background-color: #4d94ff;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}

.columna-controles {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	margin-left: 20px;
}

.btn-mas,
.btn-anadir {
	background-color: #2ecc71 !important;
	color: white;
	border: none;
	padding: 8px 15px;
	cursor: pointer;
	border-radius: 4px;
	font-weight: bold;
	min-width: 45px;
}

.btn-menos {
	background-color: #e74c3c !important;
	color: white;
	border: none;
	padding: 8px 15px;
	cursor: pointer;
	border-radius: 4px;
	font-weight: bold;
	min-width: 45px;
}

.numero-cantidad {
	font-weight: bold;
	font-size: 1.1rem;
	color: #333;
}

.producto-seleccionado {
	border-color: #2ecc71;
}
