#video-fondo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

header h1 {
	position: relative;
	z-index: 2;
	color: yellow;
	text-align: center;
	padding: 20px 0;
}
