.contenedor {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.sidebar {
	width: 250px;
	background-color: rgba(102, 100, 100, 0.5);
}

.sidebar .item:hover {
	background-color: yellow;
	color: black;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar .item {
	cursor: pointer;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	color: white;
}

.detalle {
	flex: none;
	width: 700px;
	padding: 20px;
	border-radius: 8px;
	max-height: 90vh;
	overflow-y: auto;
}
