.ficha {
	margin-top: 20px;
	padding: 10px;
	background-color: yellow;
	color: black;
	border-radius: 6px;
}

.ficha h4 {
	margin-bottom: 10px;
	font-size: 1.2em;
}

.ficha p {
	margin-bottom: 3px;
	font-size: 0.95em;
}

.vehiculos {
	margin-top: 10px;
}

.vehiculo {
	background-color: rgba(255, 255, 0, 0.3);
	padding: 8px;
	margin-bottom: 8px;
	border-radius: 6px;
	color: black;
}
