#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

main {
	flex: 1;
}

footer {
	padding: 20px 0;
	border-top: 1px solid #eee;
	margin-top: 20px;
}
